<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link id="favicon" rel="icon" type="image/x-icon" href="images/icon.svg">

    <script>
        window.addEventListener('load', function() {
              var logo = document.querySelector('.login-form img');
              function setLogoSource() {
                  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                      // Пользователь выбрал темную тему
                      document.getElementById('favicon').href = 'images/svg_1.svg';
                  }
              }
              setLogoSource();
              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setLogoSource);
          });
      </script>
</head>
<body>
    
</body>
</html>