<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановить аккаунт</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="images/icon.svg">
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #ebedf0; /* Изменено на светлый цвет */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        @media (prefers-color-scheme: dark){
            body{
                background-color: #303030;
            }
        }

    </style>
    <script>
        window.addEventListener('load', function() {
              var logo = document.querySelector('.login-form img');
              function setLogoSource() {
                  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                      // Пользователь выбрал темную тему
                      document.getElementById('favicon').href = 'images/svg_1.svg';
                  }
              }
              setLogoSource();
              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setLogoSource);
          });
      </script>
    
</head>
<body>
    <div class="change-data">
        <img src="images/3.svg" alt="Конец фотокарточке" width="250">
        <input type="email" placeholder="email" required>
    </div>
</body>
</html>